<div class="row">
  <div class="large-12 columns">
      <input placeholder="Buscar" class="search radius" type="search" name="country" id="country-search" />
      <br />
      <ul class="no-bullet centerize country">
      <li class="neuer_artikel">
        <a href="/article/create"><span class="fa fa-plus fa-round"></span></a>
      </li>
      {{#each articles}}
      <li class="all">
          {{#if this.cover}}
            <img src="http://res.cloudinary.com/{{../cloudinary_account}}/image/upload/c_fill,h_100,w_160/v{{this.version}}/{{this.cover}}" alt="" />
          {{else}}
            <img src="http://placehold.it/300x176/2C00BA" alt="" />
          {{/if}}
          <h5 class="subheader text-left country-names">{{this.title}}</h5>
          <div class="actions">
            <a href="/article/{{this.id}}/edit"><span class="fa fa-pencil whitetxt"></span></a> <a class="borrar" href="/article/{{this.id}}/destroy" onclick="return confirm('Seguro quieres borrarlo?');"><span class="fa fa-trash"></span></a>
          </div>
      </li>
      {{/each}}
      </ul>
    </div>
</div>

