<div class="row">
  <div class="large-12">
    <h3>Lista de formulario de contacto</h3>
    <br />
    <table width="100%">
     <thead>
       <tr>
         <th>Nombre</th>
         <th>Mail</th>
         <th>Fecha</th>
         <th>Asunto</th>
         <th>Mensaje</th>
       </tr>
     </thead>
     <tbody>
    {{#each clients}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.mail}}</td>
        <td>{{this.createdAt}}</td>
        <td>{{this.subject}}</td>
        <td>{{this.message}}</td>
      </tr>
    {{/each}}
     </tbody>
    </table>
    </div>
</div>