<div class="row">
  <div class="large-12 columns">
      <input placeholder="Buscar" class="search radius" type="search" name="country" id="country-search" />
      <br />
      <ul class="no-bullet centerize country">
      {{#each countries}}
      <li>
        <img src="http://res.cloudinary.com/fabianrios/image/upload/c_fill,h_100,w_200/v{{this.version}}/{{this.cover}}" alt="" />
        <h5 class="subheader text-left country-names">{{this.title}}</h5>
        <div class="actions">
          <a href="/country/{{this.id}}/edit"><span class="fa whitetxt fa-edit"></span></a> <a class="redtxt" href="/country/{{this.id}}/destroy" onclick="return confirm('Seguro quieres borrarlo?');"><span class="fa fa-trash"></span></a>
        </div>
      </li>
      {{/each}}
      </ul>
      <a href="/country/create" class="button medium"><span class="fa fa-plus fa-round"></span> Crear un país nuevo</a>
    </div>
</div>

