<div class="row">
  <div class="large-12 columns">
      <ul class="filter centerize">
        <li><a href="#todos">TODOS</a></li>
        <li><a href="#tips">TIPS</a></li>
        <li><a href="#viajes">VIAJES</a></li>
        <li><a href="#datos">DATOS</a></li>
      </ul>
      <br />
      <ul class="no-bullet posts">
      {{#each articles}}
      <li class="all">
        <div class="index-cover">
          <a href="/article/{{this.id}}"><img src="{{this.cover}}" alt="" /></a>
          <div class="gradient">
            <h4 class="title"><a class="whitetxt" href="/article/{{this.id}}">{{this.title}}</a> </h4>
          </div>
          <div class="actions">
            <a href="article/{{this.id}}/edit"><span class="fa fa-edit"></span></a> <a class="redtxt" href="/article/{{this.id}}/destroy"><span class="fa fa-trash"></span></a>
          </div>
        </div>
        <div class="index-content"><p>{{this.text}}</p></div>
        <ul class="centerize tips">
          {{#each this.category}}
            <li><a href="/articles/#{{this}}">{{this}}</a></li>
          {{else}}
            <li><a href="/articles/#{{this.category}}">{{this.category}}</a></li>
          {{/each}}
        </ul>
      </li>
      {{/each}}
      </ul>
      <a href="/article/create" class="button medium">Crear un articulo nuevo</a>
    </div>
</div>

