<div id='map'></div>
<div id="info">
  {{#if country}}
  <div class="country-post">
    <img src="http://res.cloudinary.com/{{../cloudinary_account}}/image/upload/c_fill,h_275,w_400/v{{country.version}}/{{country.cover}}.jpg" />
    <div class="gradientbg">
      <h4 class="title-map whitetxt"> {{country.title}} </h4> 
      <h6 class="whitetxt price-map"><span class="cur">{{country.vip}}</span> a <span class="cur">{{country.corporate}}</span></h6>
    </div>
    <div class="content">
      <p class="nm"> {{country.text}}</p>
    </div>
    <a href="{{country.url}}" target="_blank" class="blog">BLOG</a><a href="{{country.url}}#comments" target="_blank" class="blog">COMENTARIOS</a>
    <form action="/email_country" method="post" class="inliner" id="email_country">
      <input type="hidden" name="country" value="{{country.title}}" />
      <input type="hidden" name="travel" value="{{travel}}" />
      <input type="email" name="email" class="unflashy" placeholder="Correo Electrónico" required/>
      <i class="fa fa-envelope fix-inline"></i>
      <input type="submit" value="ENVIARME MAS INFO" class="button full success" />
    </form>
    <a href="#" class="ferme"><span>X</span></a>
  </div>
  {{else}}
  <br />
  <h6 class="subheader text-center">
    {{#if budget}}
      No encontramos una experiencia en <strong>{{travel}}</strong> con ${{budget}}
    {{else}}
      Siempre hay una experiencia para ti, navega nuestras experiencias
    {{/if}}
  </h6>
  <br />
  {{/if}}
</div>
