<div id='map'></div>
<div id="info">
  {{#if country}}
  <div class="country-post">
    <img src="http://res.cloudinary.com/fabianrios/image/upload/c_fill,h_275,w_400/v{{country.version}}/{{country.cover}}.jpg" />
    <div class="gradientbg">
      <h4 class="title-map whitetxt"> {{country.title}} </h4> 
      <h6 class="whitetxt price-map">{{country.corporate}} a {{country.vip}}</h6>
    </div>
    <div class="content">
      <p class="nm"> {{country.text}}</p>
    </div>
    <a href="{{country.url}}" class="blog">BLOG</a>
    <form action="/email_country" method="post" class="inliner" id="email_country">
      <input type="hidden" name="country" value="{{country.title}}" />
      <input type="hidden" name="travel" value="{{travel}}" />
      <input type="email" name="email" class="unflashy" placeholder="Correo Electrónico" required/>
      <i class="fa fa-envelope fix-inline"></i>
      <input type="submit" value="ENVIARME MAS INFO" class="button full success" />
    </form>
    <a href="#" class="ferme"><span>X</span></a>
  </div>
  {{else}}
  <br />
  <h6 class="subheader text-center">
    {{#if budget}}
      No encontramos una experiencia en <strong>{{travel}}</strong> con ${{budget}}
    {{else}}
      Siempre hay una experiencia para ti, navega nuestras experiencias
    {{/if}}
  </h6>
  <br />
  {{/if}}
</div>
<div class="pos-steps hide-for-small">
  <ul class="steps">
    <li><span class="fa fa-plane fa-2x"></span><div class="circle plane"></div> <div class="line"></div> </li>
    <li><span class="fa fa-check-square-o fa-2x"></span><div class="circle check always"></div><div class="line"></div></li>
    <li><span class="fa fa-envelope fa-2x"></span><div class="circle envelope"></div></li>
  </ul>
</div>