<div class="row">
  <div class="large-8 columns">
    <a href="/blog" class="button tiny"><span class="fa fa-undo"></span> Volver</a>
    <div class="actions">
      <a href="/article/{{article.id}}/edit"><span class="fa fa-edit"></span></a> <a class="redtxt" onclick="return confirm('Seguro quieres borrarlo?');" href="/article/{{article.id}}/destroy"><span class="fa fa-trash"></span></a>
    </div>
    <div class="content">{{{article.fulltext}}}</div>
  </div>
  <div class="large-4 columns">
    <h4 class="bluetxt">Presupuesto VIP</h4>
    <p><span class="currency">{{article.vip}}</span> en adelante</p>
    <h4 class="bluetxt">Presupuesto Incognito</h4>
    <p><span class="currency">{{article.incognito}}</span> a <span class="currency">{{article.vip}}</span></p>
    <h4 class="bluetxt">Presupuesto VIP</h4>
    <p><span class="currency">{{article.corporate}}</span> a <span class="currency">{{article.incognito}}</span></p>
    <h4 class="bluetxt"><span id="increment">{{article.like}}</span> <span class="bluetxt fa fa-heart"></span> Me gusta</h4>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <ul class="centerize sub-social">
      <li><a href=""> <span class="fa fa-twitter fa-2x"></span> </a></li>
      <li><a href=""> <span class="fa fa-facebook fa-2x"></span> </a></li>
      <li><a href=""> <span class="fa fa-instagram fa-2x"></span> </a></li>
    </ul>
  </div>
</div>