<div class="cover">
  <img src="http://res.cloudinary.com/{{cloudinary_account}}/image/upload/c_crop,h_550,r_0,w_1920/v{{article.version}}/{{article.cover}}.jpg" alt="" />
</div>

<div class="metadata">
  <div class="pic_profile">
    <img src="http://res.cloudinary.com/{{cloudinary_account}}/image/upload/c_crop,h_80,r_0,w_80/v{{article.version}}/{{author.image}}.jpg" alt="" />
    <h6>Escrito por {{author.name}}</h6>
  </div>
  <span class="date">{{shortDate article.createdAt}}</span>
</div>
<br />
<div class="row">
  <div class="large-8 medium-8 large-centered medium-centered columns">
    <a href="/blog" class="button tiny"><span class="fa fa-undo"></span> Volver</a>
    {{#if user}}
    <div class="actions">
      <a href="/article/{{article.id}}/edit"><span class="fa fa-edit"></span></a> <a class="redtxt" onclick="return confirm('Seguro quieres borrarlo?');" href="/article/{{article.id}}/destroy"><span class="fa fa-trash"></span></a>
    </div>
    {{/if}}
    <div class="content">
      <h3 class="text-center">{{article.title}}</h3>
      <br />
      {{{article.fulltext}}}
    </div>
  </div>
</div>

