<div class="cover">
  <img src="http://res.cloudinary.com/{{cloudinary_account}}/image/upload/c_crop,h_550,r_0,w_1920/v{{article.version}}/{{article.cover}}.jpg" alt="" />
</div>

<div class="metadata">
  <div class="pic_profile">
    <img src="http://res.cloudinary.com/{{cloudinary_account}}/image/upload/c_crop,h_80,r_0,w_80/v{{article.version}}/{{author.image}}.jpg" alt="" />
    <h6>Escrito por {{author.name}}</h6>
  </div>
  <span class="date">{{shortDate article.createdAt}}</span>
</div>

<div class="row">
  <div class="large-8 medium-8 large-centered medium-centered columns">
    <a href="/blog" class="button tiny"><span class="fa fa-undo"></span> Volver</a>
    <h4 class="bluetxt"><span id="increment">{{article.like}}</span> <span class="bluetxt fa fa-heart"></span> Me gusta</h4>
    {{#if user}}
    <div class="actions">
      <a href="/article/{{article.id}}/edit"><span class="fa fa-edit"></span></a> <a class="redtxt" onclick="return confirm('Seguro quieres borrarlo?');" href="/article/{{article.id}}/destroy"><span class="fa fa-trash"></span></a>
    </div>
    {{/if}}
    <div class="content">{{{article.fulltext}}}</div>
  </div>
</div>

